.container {
  height: 100%;
  background: #0f191b;
}
.wx {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  margin: auto;
  border: 18px solid rgba(0, 208, 236, 0.2);
}
.banner {
  display: block;
  width: 375px;
  height: 156px;
}
.mt {
  margin-top: 48px;
  background-color: #0f191b;
}
.list {
  padding: 12px;
  background: #0f191b;
}
.marginbottom {
  margin-bottom: 10px;
}
