.nav {
  width: 100%;
  height: 227px;
  background-color: #000;
  padding-top: 10px;
}
.nav .tab {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #00d0ec;
  display: flex;
  align-items: end;
  padding-left: 12px;
}
.nav img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 15px auto 5px;
  display: block;
  margin-top: 20px;
}
.nav .title {
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}
.nav .td {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .td .item {
  color: #dddddd;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
.nav .td .item img {
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 0;
  margin-top: 5px;
  margin-right: 5px;
}
.nav .text {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #aaaaaa;
  opacity: 0.6;
  text-align: center;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  overflow: hidden;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
}
.search {
  width: 100%;
  height: 66px;
  background-color: #0f191b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search .input {
  display: flex;
}
.search .input .searchImg {
  position: absolute;
  left: 18px;
  top: 24px;
  display: block;
  width: 20px;
  height: 20px;
}
.search .input input {
  width: 289px;
  height: 36px;
  background-color: #0e2b30;
  color: #fff;
  caret-color: #00d0ec;
  border: none;
  outline: none;
  padding-left: 37px;
}
.search .input .btn {
  width: 66px;
  height: 36px;
  background-color: #00d0ec;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 36px;
}
.search .input .btn:active {
  background: #00abc2;
}
.search .input .close {
  width: 16px;
  height: 16px;
  filter: contrast(0);
  position: absolute;
  right: 90px;
  top: 50%;
  margin-top: -8px;
}
.cardList {
  width: 100%;
  min-height: 500px;
  padding: 16px 10px;
  background-color: #0b1d1e;
}
.tabColor {
  background-color: #000;
}
.shuxian {
  width: 1px;
  height: 10px;
  background: #c4c4c4;
  margin: 0 10px;
}
.mb {
  margin-bottom: 10px;
}
.wx {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  margin: auto;
  border: 18px solid rgba(0, 208, 236, 0.2);
}
.fix {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: #111a1b;
}
.container {
  min-height: 1000px;
  max-height: 100%;
}
.container .bottom {
  width: 100%;
  height: 10px;
  background-color: #0b1d1e;
}
.n {
  background: #0f191b;
  margin-top: 48px;
}
.navContainer {
  height: 48px;
  width: 100%;
  background-color: #000;
  padding-top: 11px;
  position: relative;
  display: flex;
  padding-left: 12px;
}
.navContainer .bg {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #00d0ec;
  position: absolute;
  left: 0;
}
.navContainer .item {
  width: 130px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #0f191b;
  color: #aaaaaa;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #00d0ec;
}
.navContainer .action {
  background: rgba(0, 236, 222, 0.05);
  border: 0.5px solid #00d0ec;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  border-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #0f191b;
}
.bottom {
  width: 100%;
  height: 10px;
  background-color: #0b1d1e;
}
.twoNav {
  width: 100%;
  height: 38px;
  background-color: #0e2b30;
  display: flex;
  padding: 0 15px;
}
.twoNav .item {
  color: #999;
  line-height: 38px;
  font-weight: 400;
  font-size: 12px;
  margin-right: 30px;
}
.twoNav .ac {
  color: #fff;
  border-bottom: 2px solid #00d0ec;
}
.fx {
  position: fixed;
  top: 47px;
  right: 0;
  left: 0;
  z-index: 999;
}
.fx2 {
  position: fixed;
  top: 94px;
  right: 0;
  left: 0;
  z-index: 999;
}
.fx3 {
  position: fixed;
  top: 132px;
  right: 0;
  left: 0;
  z-index: 999;
}
