.wx {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  margin: auto;
  border: 18px solid rgba(0, 208, 236, 0.2);
}
.info {
  padding: 28px 15px 20px;
  background: #0f191b;
  min-height: 1000px;
  position: relative;
  .logo {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -40px;
    right: 0;
    margin: 0 auto;
  }
  .name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 15px;
  }
  .lianxi {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    .shuxian {
      width: 1px;
      height: 10px;
      background: #c4c4c4;
      margin: 0 20px;
    }
    .item {
      display: flex;
      color: #ffffff;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      div {
        margin-left: 4px;
      }
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
  .text {
    color: #aaaaaa;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-top: 18px;
  }
}
.banner {
  display: block;
  width: 375px;
  height: 156px;
}
.mt {
  margin-top: 48px;
  background-color: #0f191b;
}

.list {
  position: relative;
  height: 100%;
  padding: 10px 12px 0;
  overflow: hidden;
  background: #0f191b;
}
.marginbottom{
  margin-bottom: 10px;
}